/*characters*/
body{
	
	padding-top: 20%;
	padding-bottom: 20%;
	background-color: grey;
}
.vcenter {
    margin-top: 20%;
}
.char-wrapper{
	padding-bottom: 20%;
}

/*character*/
#mario{
	background-color: red;
	color: #FFFFFF;
}
#luigi{
	background-color: green;
	color: #FFFFFF;
}
#peach{
	background-color: pink;
	color: #FFFFFF;
}
#toad{
	background-color: blue;
	color: #FFFFFF;
}
#daisy{
	background-color: orange;
	color: #FFFFFF;
}
#bowser{
	background-color: gold;
	color: #FFFFFF;
}
#yoshi{
	background-color: green;
	color: #FFFFFF;
}
#wario{
	background-color: yellow;
	color: #FFFFFF;
}
#waluigi{
	background-color: violet;
	color: #FFFFFF;
}



@media only screen and (max-device-width: 459px) {
	body{
		padding-bottom: 50%;
	}
	.vcenter{
		margin-top: 10px;
	}
}

@media only screen and (min-device-width: 767px)  {
	body{
		padding-top: 10%;
		padding-bottom: 10%
	}
	.vcenter{
		margin-top: 15px;
	}
}

@media only screen and (min-device-width: 992px)  {

	.vcenter{
		margin-top: 20%;
		
	}
	
}

