/*characters*/
.vcenter {
    margin-top: 20%;
}
.char-wrapper{
	padding-bottom: 50px;
}

/*character*/
#mario{
	background-color: red;
	color: #FFFFFF;
}
#luigi{
	background-color: green;
	color: #FFFFFF;
}
#peach{
	background-color: pink;
	color: #FFFFFF;
}
#toad{
	background-color: blue;
	color: #FFFFFF;
}
#daisy{
	background-color: orange;
	color: #FFFFFF;
}
#bowser{
	background-color: gold;
	color: #FFFFFF;
}
#yoshi{
	background-color: green;
	color: #FFFFFF;
}
#wario{
	background-color: yellow;
	color: #FFFFFF;
}
#waluigi{
	background-color: violet;
	color: #FFFFFF;
}