*{
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

.bg {	
	height: 100%;
	background-image: url("../images/landing/mario.gif"), url("../images/landing/coin.gif") , url("../images/landing/ground.png"), url("../images/landing/bushes.png"), url("../images/landing/background2_1.png");
	background-color: #006df0;
	background-repeat: no-repeat, no-repeat, repeat-x, repeat-x, repeat-x;
	background-position: left 30% bottom 24px, left 60% bottom 30px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
	-webkit-animation: back 15s infinite linear;
}

@-webkit-keyframes back {
  0% {
  	background-position: left 30% bottom 24px, left 60% bottom 30px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
  }
  50% {
    background-position: left 50% bottom 24px, left 60% bottom 30px, left -816px bottom 0px, left -508px bottom 24px, left -256px bottom 0px;
  }
  100% {
    background-position: left 30% bottom 24px, left 60% bottom 30px, left -1632px bottom 0px, left -1016px bottom 24px, left -512px bottom 0px;
  }
}


#landing {
	padding-top: 20%;
}

#landing p{
	font-size: 1.3em;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
}



