

body{
    padding-top: 20%;
    background-color: grey;
}

#page-content{
	margin-bottom: 100px;
}

.btn-danger{
	margin-bottom: 15px;
}


@media only screen and (min-device-width: 767px)  {
	body{
		padding-top: 10%;
	
	}
	
}

