

body{
    padding-top: 20%;
    background-color: #98e3f0 ;
}

/*assigned a repeating background for jumbotron*/
.jumbotron{
	margin-top: 7%;
	background-image: url("../images/home/bg-red.jpg");
	color: #FFF;	
}


#page-content{
	margin-bottom: 100px;
}

.btn-danger{
	margin-bottom: 15px;
}

/*adjustments for smaller screens*/
@media only screen and (min-device-width: 767px)  {
	body{
		padding-top: 10%;
	
	}
	
}

