

body{
    padding-top: 20%;
    background-color: #98e3f0 ;
}
.jumbotron{
	margin-top: 7%;
	background-image: url("../bg-red.jpg");
	color: #FFF;
	
}


#page-content{
	margin-bottom: 100px;
}

.btn-danger{
	margin-bottom: 15px;
}


@media only screen and (min-device-width: 767px)  {
	body{
		padding-top: 10%;
	
	}
	
}

